---
layout: home-page
---

<div class="wrapper">

<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
  <div class="author-desc">

<p>
After 7 years together, we've finally decided to make it official and get married!
We'd like to welcome our closest friends and family to Oxford on the 29th of June 2018
for vows, boats and dancing. It'll be mighty craic altogether!
</p>

  </div>
</section>

<p>
We've created this website to put all the important information about the wedding together in one place. 
We'll be updating it with more information as we think of it over the next few months. 
</p>

<p>
We'd love you to join us &mdash; please fill out the form on
<a href="rsvp">RSVP page</a> to let us know whether you can make it!
</p>


</div>


<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
