---
layout: home-page
---

<div class="wrapper">
<p>
We're getting married! On Friday 29th June 2018 in Oxford, and we'd love you to join us. It'll
be mighty craic altogether!
</p>

<p>
After 7 years together, we've finally decided to make it official and get married with all  
of our closest friends and family there to celebrate. So we'd like to welcome you all to  
Oxford in June for vows, boats and dancing!
</p>

<p>
We thought we'd create this website to put all the important information about the wedding together in one place. 
We'll also be updating it with more information as wet think of it over the next few months. 
</p>
</div>


<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
