---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <div class="wrapper">
  <p>
  We're getting married! On Friday 29th June 2018 in Oxford, and we'd love you to join us. It'll
  be mighty craic altogether!
  </p>

  <p>
  After 7 years together, we've finally decided to make it official and get married with all  
  of our closest friends and family there to celebrate. So we'd like to welcome you all to  
  Oxford in June for vows, boats and dancing!
  </p>

  <p>
  We thought we'd create this website to put all the important information about the wedding together in one place. 
  We'll also be updating it with more information as wet think of it over the next few months. 
  </p>
  </div>

  <div class="content wrapper">
    {{ content }}
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
